@font-face {
    font-family: 'HKGrotesk';
    src: url('assets/HKGrotesk-Regular.ttf');
}

body {
    margin: 0;
    font-family: HKGrotesk;
    font-size: medium;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main {
    width: 100%;
    height: 100%;
    background-color: #CCC;
    box-sizing: border-box;
}

#banner {
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid tomato;
    font-size: small;
    font-weight: 600;
    color: white;
}

#banner p {
    width: fit-content;
    min-width: 20px;
    margin: 4px 5px 0 5px;
    padding: 4px 4px 0 4px;
    background-color: tomato;
    border-radius: 3px 3px 0 0;
}

#close-button{
    cursor: pointer;
    text-align: center;
}

#close-button:hover{
    background-color: rgb(255, 120, 96);
}

#tip-container
{
    padding: 10px;
}

h2 {
    font-size: medium;
    margin: 0;
    border-bottom: 2px solid tomato;
}

#tip {
    font-size: smaller;
    margin: 5px;
    font-family: HKGrotesk;
    border: none;
    outline: none;
    border-radius: 10px;
}